[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
python-decouple = "*"
pillow = "*"
django-cors-headers = "*"
django-countries = "*"
djangorestframework = "*"
django-extensions = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
