[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-debug-toolbar = "*"
django-countries = "*"
djangorestframework = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.9"
